POSTGRES_USER=reservas
POSTGRES_PASSWORD=reservas_dev
POSTGRES_DB=reservas_mvp
JWT_SECRET=dev_secret_change_me_before_production
JWT_ISSUER=reservas-mvp
JWT_AUDIENCE=reservas-mvp-web
POSTGRES_PORT=5432
CASSANDRA_PORT=9042
IDENTITY_API_PORT=5101
CATALOG_API_PORT=5102
BOOKING_API_PORT=5103
REPORTING_API_PORT=5104
